<h2>Admin Dashboard</h2>

<div class="row-fluid">

<div class="span6">
<h3>Events</h3>
<table class="table table-striped">
<thead>
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
</thead>
<tbody>
<% @items.each do |item| %>
    <tr>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
    <td><%= link_to "Edit", edit_item_path(item.id), :class=>"btn" %></td>
    <td><%= link_to "Delete", item_path(item.id), :class=>"btn", :method=>"delete" %></td>
    </tr>
<% end %>
</tbody>
</table>
<%= link_to "Add New Event", new_item_path, :class=>"btn btn-primary" %></td>

<h3>Coupons</h3>
<table class="table table-striped">
<thead>
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
</thead>
<tbody>
<% @items.each do |item| %>
    <tr>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
    <td><%= link_to "Edit", edit_item_path(item.id), :class=>"btn" %></td>
    <td><%= link_to "Delete", item_path(item.id), :class=>"btn", :method=>"delete" %></td>
    </tr>
<% end %>
</tbody>
</table>
<%= link_to "Add New Coupons", new_item_path, :class=>"btn btn-primary" %></td>

<h3>Donate</h3>
<table class="table table-striped">
<thead>
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
</thead>
<tbody>
<% @items.each do |item| %>
    <tr>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
    <td><%= link_to "Edit", edit_item_path(item.id), :class=>"btn" %></td>
    <td><%= link_to "Delete", item_path(item.id), :class=>"btn", :method=>"delete" %></td>
    </tr>
<% end %>
</tbody>
</table>
<%= link_to "Add New Donations", new_item_path, :class=>"btn btn-primary" %></td>
</div>

<div class="span6">
<h3>Forum Topics</h3>
<table class="table table-striped">
<thead>
    <tr>
        <td>Topic</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
</thead>
<tbody>
<% @boards.each do |board| %>
    <tr>
    <td><%= board.title %></td>
    <td><%= link_to "Edit", edit_board_path(board.id), :class=>"btn" %></td>
    <td><%= link_to "Delete", board_path(board.id), :class=>"btn", :method=>"delete" %></td>
    </tr>
<% end %>
</tbody>
</table>
<%= link_to "Add New Topic", new_board_path, :class=>"btn btn-primary" %>

<h3>Users</h3>
<table class="table table-striped">
<thead>
    <tr>
        <td>Name</td>
        <td>Email</td>
    </tr>
</thead>
<tbody>
<% @users.each do |user| %>
    <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    </tr>
<% end %>
</tbody>
</table>

<h3>Bears Icons Upload</h3>
<br/>
<span class="btn btn-file">Upload<input type="file" /></span>

</div>
</div>
