<%= form_for(@conversation, :url=> board_conversations_path, :html =>{:class => "form-horizontal"}) do |f| %>
  <% if @conversation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conversation.errors.count, "error") %> prohibited this conversation from being saved:</h2>
      <ul>
      <% @conversation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
          <label class="control-label" for="inputEmail">Title:</label>
          <div class="controls">
                <%= f.text_field :title %>
          </div>
  </div>
  <%= fields_for(@comment) do |cf| %>
  <div class="control-group">
          <label class="control-label" for="inputEmail">Body:</label>
          <div class="controls">
                <%= cf.text_area(:body, :rows => "6") %>
          </div>
  </div>
  <% end %>

  <div class="actions">
      <input type="submit" value="Create Post" />
  </div>
<% end %>
