<%= link_to 'Main Forum', boards_path %> &gt; <%= link_to @board.title, @board %>
&gt; <%= @conversation.title %>

<br />

<p id="notice"><%= notice %></p>
<table class="table table-bordered">
  <tr class="success">
    <th colspan="2"><%= @conversation.title %></th>
  </tr>
  <% @conversation.comments.each do |comment| %>
  <tr>
    <td style="width:25%;">
    <!--link_to comment.user.username, comment.user %>-->
    terencekwt <br />
      Posted At <br />
      <%= comment.created_at%>
    </td>
    <td>
      <p><%=comment.body%></p>
    </td>
  </tr>
  <% end %>
</table>
<%= link_to 'Reply', reply_board_conversation_url(:board_id=>@board, :id=>@conversation), :class=>"btn"%> 
<%= link_to 'Back', @conversation.board, :class=>"btn"%>
