<%= form_for("user", :url => user_session_path, :html=>{:class=>"form-horizontal",:style=>"width: 500px; margin: auto;"}) do |f| %>
    <div class="control-group">
      <%= f.label :email, :class=>"control-label" %>
      <div class="controls">
          <%= f.email_field :email, :autofocus => true %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password, :class=>"control-label" %>
      <div class="controls">
          <%= f.password_field :password %>
      </div>
    </div>
  
    <div>
        <%= f.submit "Sign in", :class=>"btn btn-success btn-large" %>
        <%= link_to "Sign Up", new_user_registration_path, :class=>"btn btn-success btn-large" %>
    </div>

<% end %>

