<%= link_to 'Main Forum', boards_path %> &gt; <%= link_to @board.title, @board %> <br />

<table class="table table-bordered">
  <tr class="success">
  <td style="width:64%">
      <h4><%= link_to @board.title, @board %></h4></td>
      <td style="width:12%">comments</td>
      <td style="width:12%">last commented</td>
      <td style="width:12%">created at</td>
  </tr>
<% @board.conversations.each do |conversation| %>
  <tr>
    <td>
      <%= link_to conversation.title, board_conversation_path(:board_id => @board, :id => conversation) %>
      <i>by <%= conversation.user.username %></i>
    </td>
    <td>
      <%= conversation.comments.count - 1%>
    </td>
    <td>
      <%= conversation.comments.find(:last).created_at %><br />
      by <%= conversation.comments.find(:last).user.username %>
    </td>
    <td><%= conversation.created_at %></td>

  </tr>
<% end %>
</table>
    
 
<%= link_to 'Post New Message', new_board_conversation_url(@board) , :class=>"btn btn-success"%>
