<!DOCTYPE html>
<html>
<head>
  <title>Cashify</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "collie.min" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" id="forum_body">
<div class="row-fluid">
    <div class="span3" id="banner">
    <%= image_tag("banner.png", :alt => "banner", :width=>"200px") %>
    </div>
    <div class="span5" id="menu">
        <a href="/game1" class="btn btn-success">Game 1</a>
        <a href="/dashboard" class="btn btn-success">Map</a>
        <a href="/boards" class="btn btn-success">Forum</a>
        <a href="/market" class="btn btn-success">Market</a>
        <a href="/news" class="btn btn-success">News</a>
    </div>
    <div class="span4">
        <form class="form-search">
            <% if user_signed_in? %>
                Hello, <%= current_user.username %>!  
                <%= link_to "(Edit)", edit_user_registration_path %>
                | <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
                <% if current_user.admin? %>
                    <br/><%= link_to "Go to Admin Dashboard", '/admin' %>
                <% end %>
            <% else %>
                <%= link_to "Sign In", "/users/sign_in" %>
            <% end %>
            <br/><br/>
          <input type="text" class="input-medium search-query">
          <button type="submit" class="btn">Search</button>
        </form>
    </div>
</div>
<hr/>
<%= yield %>

<footer>
<hr/>
copyrighted 2013 by Terence Tam 
</footer>
</div>

</body>
</html>
